//
// Preferences 1.6.2021
//

code {
  font-family: $mono-font-family;
  font-size: 0.9em;
  line-height: $body-line-height;
}

p {
    font-family: $body-font-family;
}

.nav-list {
  .nav-list-item{
    .nav-list-expander{
      color: $nav-child-link-color;    
      &:hover {
        color: $sidebar-color;
      }
    }
    .nav-list-link{
      color: $nav-child-link-color;      
      &:hover,
      &.active {
        background-image: linear-gradient(
          -90deg,
          rgba($feedback-color, 1) 0%,
          rgba($feedback-color, 0.5) 50%,
          rgba($feedback-color, 0) 100%
        );
      }
    }
  }
}


.site-title{
  color: $body-background-color;
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.5) 50%,
    rgba($feedback-color, 0) 100%
  );
}

.site-nav,
.site-header,
.site-footer {
  width: 100%; 
  @include mq(lg) {
    width: 325px;
  }  
}

